<section>
<footer class="text-left text-white">

<div class="container p-4 pb-0" style="margin:0; padding:0;">
<h2 style="display: inline-block; margin: 0;">Cinnamon</h2> 
<img id="pie" src="/images/pie.png" height="80px"/> 
</div>
  
<div class="container1">
<div class="social-media">
<a href="https://github.com/vitoriadz/" class="btn-social" target="_blank" title="github"> <i class="fa fa-github"></i></a>           
      
<a href="https://z-p15.www.instagram.com/vitoriadzz/" class="btn-social" target="_blank" title="instagram"> <i
class="fa fa-instagram"></i></a> 
  
<a href="https://twitter.com/losiplt" class="btn-social" target="_blank" title="twitter"><i
class="fa fa-twitter"></i></a>
  
</div>
</div>
</footer>
</section>