<%- include('./partials/header') %>
<main>

<div class="jumbotron jumbotron-fluid" style="background-color: #FFDAE1; height: 50px;">
<div class="container-fluid">
<button class="btn btn-secondary btn-lg" style="font-size: 2rem; padding: 0; background: none; border: none; color: #F47B8F;" onclick="window.history.back();"><i class="bi bi-arrow-left-circle-fill"></i></button>
<h1 class="text-center mx-auto" style="color: #F47B8F; margin-top: -50px">Sobre nós!</h1>
</div>
</div>

<div class="container">
<div class="row">
<div class="col-md-6">
<h1 id="about">Obrigada por visitar a minha página de receitinhas inspiradas em músicas!</h1>
<hr class="my-4 rounded" width="50%" style="border-top: 4px solid #F47B8F;">     
<p id="p">Eu sou Vantus, um astro disposto a te mostrar as melhores comidinhas daqui! Abaixo você poderá ter acesso a algumas informações sobre mim e o site.</p>
</div>
<div class="col-md-6">
<img class="rounded mx-auto d-block" src="images/about.png" alt="bolo" height="300px"/>
</div>
</div>
</div>

<div class="container my-5">
<div class="row">
<div class="col-md-6">
<div class="card mb-4 shadow-pink">
<div class="card-body">
<h5 class="card-title">Cinnamon e tons de canela:</h5>
<p style="color: #F47B8F;" class="card-text">O site surgiu com o objetivo de funcionar como um espaço onde constarão receitas de doces e sobremesas já existentes, porém com algumas particularidades inspiradas em músicas, dessa forma, queremos que você crie esses docinhos, que sinta liberdade para personalizá-los, explorando assim sua criatividade e sentimentos.</p>
  
<h5 class="card-title">Mais sobre a desenvolvedora:</h5> 
<p style="color: #F47B8F;" class="card-text"> Maria Vitória Diniz, estudante do Curso Técnico Integrado em Informática do IFCE Campus Fortaleza, desenvolveu o site afim de experimentar com mais profundidade algumas linguagens de programação que envolvem o desenvolvimento web, além de estimular sua criatividade e trabalhando assim unindo com diversas coisas que gosta, música, design, programação e doces. </p>
</div>
</div>
</div>
<div class="col-md-6">
<div class="card mb-4 shadow-pink">
<div class="card-body">
<h5 class="card-title">Vantus e algumas nuances: </h5>
<p style="color: #F47B8F;" class="card-text">"Vantus não é um planeta, uma estrela ou uma galáxia. Vantus está perdido, em seu interior conturbado e nas suas incontáveis máscaras."

<h5 class="card-title">Designs externos: </h5>
<ul class="gugululu">
<li><div> Alguns ícones foram feitos por <a style="color: #F47B8F;" href="https://www.flaticon.com/authors/freepik" title="Freepik"> Freepik </a> do <a style="color: #F47B8F;" href="https://www.flaticon.com/" title="flaticon">www.flaticon.com</a></div></li> 
<li><div> Desenhos dos docinhos feitos por @trendify do <a style="color: #F47B8F;"  href="https://www.canva.com/" title="canva">www.canva.com</a></div></li> 
</ul>
<img class="rounded mx-auto d-block" src="images/aboutcandy.png" alt="docinho" height="100px"/>
</div>
</div>
</div>
</div>
</div> 
  
</main>
<footer>
<%- include('./partials/footer') %>
</footer>

</body>
</html>