<%- include('./partials/header') %>
<main>

<div class="jumbotron jumbotron-fluid" style="background-color: #FFDAE1; height: 50px;">
<div class="container-fluid">
<button class="btn btn-secondary btn-lg" style="font-size: 2rem; padding: 0; background: none; border: none; color: #F47B8F;" onclick="window.history.back();"><i class="bi bi-arrow-left-circle-fill"></i></button>
<h1 class="text-center mx-auto" style="color: #F47B8F; margin-top: -50px">Meus comentários!</h1>
</div>
</div>

</main>
<footer>
  <%- include('./partials/footer') %>
</footer>
</body>
</html>