<%- include('./partials/header') %>
<main>
<div class="jumbotron jumbotron-fluid" style="background-color: #FFDAE1; height: 50px;">
<div class="container-fluid">
<button class="btn btn-secondary btn-lg" style="font-size: 2rem; padding: 0; background: none; border: none; color: #F47B8F;" onclick="window.history.back();"><i class="bi bi-arrow-left-circle-fill"></i></button>
</div>
</div>

<div class="container">
<div class="row">
<div class="col-md-6">
<h1 style="text-align:center" id="about">Olá! Bem-vindo a Cinnamon!</h1>    
<p id="p">Explore as nossas receitas e encontre a melhor inspiração para criar pratos deliciosos! Ao lado você pode ver as maravilhas criadas por alguns parceiros.</p>
<hr class="my-4 rounded" width="100%" style="border-top: 4px solid #F47B8F;"> 
<p id="p1"> Cadastre-se para fazer parte do nosso time de artistas e confeiteiros!</p>

  <img class="rounded mx-auto d-block" src="images/about.png" alt="bolinho" height="400px" />
</div>

  
<div class="col-md-6">
  <div class="d-flex justify-content-center">
    <div class="image-container me-2">
      <img src="images/2.png" alt="Imagem 1" height="160px" />
    </div>
    <div class="image-container me-2">
      <img src="images/3.png" alt="Imagem 2" height="160px" />
    </div>
    <div class="image-container">
      <img src="images/4.png" alt="Imagem 3" height="160px" />
    </div>
  </div>

  <h1 style="text-align:center" id="about">"Cozinhar é fazer poesia para ser degustada."</h1>    
<hr class="my-4 rounded" width="100%" style="border-top: 4px solid #F47B8F;"> 
<p id="p1"> Confira abaixo uma playlist cativante para te acompanhar nos seus momentos na cozinha. :)</p>
<div style="display: flex; justify-content: center;">
  <a href="https://open.spotify.com/playlist/2MKBbAeW5Ve79DagetdlYs" target="_blank" rel="noopener noreferrer" style="display: inline-block; background-color: #F47B8F; color: #ffffff; padding: 10px 20px; border-radius: 20px; text-decoration: none;">Acesse a Playlist</a>
</div>
<img  class="rounded mx-auto d-block" 
 src="images/30.png" alt="Imagem 1" height="300px" />

</div>
</div>
</div>

  
</main>
<footer>
  <%- include('./partials/footer') %>
</footer>

</body>
</html>
