<%- include('./partials/header1') %>
<main>
<div class="jumbotron jumbotron-fluid" style="background-color: #FFDAE1; height: 50px;">
<div class="container-fluid">
<button class="btn btn-secondary btn-lg" style="font-size: 2rem; padding: 0; background: none; border: none; color: #F47B8F;" onclick="window.history.back();"><i class="bi bi-arrow-left-circle-fill"></i></button>
</div>
</div>

<div class="container">
<div class="row">
  <div class="col-md-6">
    <h1 style="text-align:center" id="about">Obrigada por fazer parte do nosso time!</h1>    
    <hr class="my-4 rounded" width="100%" style="border-top: 4px solid #F47B8F;"> 
    <p id="p1"> As melhores dicas de culinária para te dar uma mãozinha na cozinha:</p>
    <ol class="recipes1">
      <li>Quanto mais lisa a casca do limão e da laranja, mais suco eles terão. Por isso, evite comprar limões e laranjas com a casca muito rugosa;</li> 
      <li>O iogurte natural pode ser uma alternativa saudável em qualquer receita em substituição ao creme de leite;</li> 
      <li>o picar ou ralar chocolate, segure a barra com papel-alumínio para que ele não derreta com o calor das mãos. Para obter raspas pequenas, use chocolate gelado;</li> 
      <li>Ao preparar caldas, substitua o açúcar refinado pelo cristal, pois ele derrete mais rápido, fica mais fino e não escurece tanto quanto o refinado;</li> 
      <li>Ao fazer musse de liquidificador, quanto mais tempo bater, mais aerada ela vai ficar;</li> 
      <li>Quando usar banana ou maçã em suas receitas, evite que elas escureçam depois de picadas, deixando em uma mistura de um pouco de água com suco de limão por 5 minutos;</li> 
      <li>Para os morangos se manterem firmes e limpos, coloque-os, sem tirar os cabinhos, em uma solução de água e vinagre antes de usá-los. Seque-os e guarde na geladeira;</li> 
    </ol>
    <img class="rounded mx-auto d-block" src="images/b.png" alt="Imagem 1" height="220px" />
  </div>

  <div class="col-md-6">
    <img class="rounded mx-auto d-block" src="images/8.png" alt="Imagem 1" height="300px" />
    <h1 style="text-align:center" id="about">"O desenho é uma ferramenta para contar histórias." - Christophe Chabouté"</h1>    
    <hr class="my-4 rounded" width="100%" style="border-top: 4px solid #F47B8F;">
    <h1 style="text-align:center" id="about">Conte histórias lindas através de uma receita única! Dê uma olhadinha nas minhas dicas e experimente fazer rascunhos gostosos</h1>   
    <ol class="recipes1">
      <li>Faça exercícios básicos -
Começar a desenhar é como aprender a andar de bicicleta. No início, você fica inseguro e até considera desistir. Mas, com um pouquinho de prática, você começa a entender os movimentos, até que vira algo natural e o medo fica para trás; </li> <br>
      <li>Treine a observação - O legal de começar a desenhar é que você passa a enxergar linhas e formas em tudo. E isso é ótimo para aprender! Observe todos os docinhos a sua volta. Reparar nesses detalhes ajuda bastante na hora de passá-los para o papel;</li> <br>
      <li>Tenha consistência nos estudos -
Sabe quando você fica muito tempo sem escrever à caneta e, do nada, precisa usá-la para fazer uma longa redação? Fica estranho, né? A letra fica diferente, a mão dói, as palavras ficam tortas…

Tente fazer pelo menos um desenho por dia. Isso ajuda a melhorar suas técnicas e ainda serve como um momento de relaxamento na rotina;</li> <br>
</ol>
</div>
</div>
</div>
</div>

</main>
<footer>
  <%- include('./partials/footer') %>
</footer>

</body>
</html>
