<%- include('./partials/header1') %>
<main>
  
<div class="jumbotron jumbotron-fluid" style="background-color: #FFDAE1; height: 50px;">
<div class="container-fluid">
<button class="btn btn-secondary btn-lg" style="font-size: 2rem; padding: 0; background: none; border: none; color: #F47B8F;" onclick="window.history.back();"><i class="bi bi-arrow-left-circle-fill"></i></button>
<h1 class="text-center mx-auto" style="color: #F47B8F; margin-top: -50px">Doces Elaborados!</h1>
</div>
</div>

<div id="container" class="container">
  <div class="row">
    <div class="col-md-4 mb-4"> <!-- style="margin-bottom: 20px;"-->
      <a href="#" class="no-underline">
        <div class="card">
          <img src="/images/amorele.png" alt="Imagem 1" class="card-img-top img-fluid">
          <div class="card-body">
            <h5 class="card-title">Amor Elétrico</h5>
            <p class="card-text">Inspirado na música "Eletric Love", o bolo de chocolate e vinho com um toque frutado de
                  frutas vermelhas, fará os apaixonados se sentirem eletrizados, e os não românticos serão acertados
                  pela flecha doce do amor.</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-4 mb-4">
      <a href="#" class="no-underline">
        <div class="card">
          <img src="/images/julieta.png" alt="Imagem 2" class="card-img-top img-fluid">
          <div class="card-body">
            <h5 class="card-title">Julieta</h5>
            <p class="card-text">Inspirado na música " Julieta", do cantor Kamaitachi, o bolo apresenta massa de abacaxi, com recheio de mirtilos e é coberto com um delicioso chantilly que trará a leveza que a Julieta possui. Saindo dos sonhos, a   encantadora jasmin fará qualquer flutuar na sua mistura divina.</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-4 mb-4">
      <a href="#" class="no-underline">
        <div class="card">
          <img src="/images/corde.png" alt="Imagem 3" class="card-img-top img-fluid">
          <div class="card-body">
            <h5 class="card-title">Cor de Marte</h5>
            <p class="card-text">Inspirado na música "Cor de Marte", da dupla ANAVITÓRIA, o docinho traz um recheio de goiabada, mesclado a um creme branco com amendoim, garatindo a crocância. É coberto por uma massinha que ao juntar-se ao todo, trará uma combinação apaixonante. "Tem cor de marte e teletransporte para uma nova galáxia."</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>


<div id="container" class="container">
<div class="row">
<div class="col-md-4">
<a href="#" class="no-underline">
<div class="card">
<img src="/images/11.png" alt="Imagem 1" class="card-img-top img-fluid">
<div class="card-body">
<h5 class="card-title">Cinnamon Girl</h5>
<p class="card-text">Inspirado na música "Cinnamon Girl", da cantora Lana Del Rey, o doce se trata de uma outra versão do famoso "Cinnamon Roll", um rolinho de canela, mas que possui cerejas em sua massa, trazendo o conforto e intensidade necessários para a receita.</p>
</div>
</div>
</a>
</div>
  
<div class="col-md-4">
<a href="#" class="no-underline">
<div class="card">
<img src="/images/14.png" alt="Imagem 2" class="card-img-top img-fluid">
<div class="card-body">
<h5 class="card-title">Bejeweled</h5>
<p class="card-text">Inspirado na música "Bejeweled" da cantora Taylor Swift, o doce se trata de uma torna branca com base de suspiro e limão, mesclada a uma calda de morango e pedaços da fruta para compor o resultado final, trazendo assim a essência meio ácida da letra e um aspecto delicado como trazido na melodia.</p>
</div>
</div>
</a>
</div>
  
<div class="col-md-4">
<a href="#" class="no-underline">
<div class="card">
<img src="/images/15.png" alt="Imagem 3" class="card-img-top img-fluid">
<div class="card-body">
<h5 class="card-title">Barcelona</h5>
<p class="card-text">Inspirado na música "Barcelona", do cantor Jão, o doce se trata de um cupcake de massa de chocolate branco com recheio de cerejas, nos entrango um sabor doce e intenso como "o verão mediterrâneo". </p>
</div>
</div>
</a>
</div>
</div>
</div>
  
</main>
<footer>
  <%- include('./partials/footer') %>
</footer>

</body>
</html>