<%- include('./partials/header1') %>
<main>

<div class="jumbotron jumbotron-fluid" style="background-color: #FFDAE1; height: 50px;">
<div class="container-fluid">
<button class="btn btn-secondary btn-lg" style="font-size: 2rem; padding: 0; background: none; border: none; color: #F47B8F;" onclick="window.history.back();"><i class="bi bi-arrow-left-circle-fill"></i></button>
<h1 class="text-center mx-auto" style="color: #F47B8F; margin-top: -50px">Doces Rápidos!</h1>
</div>
</div>

<div id="container" class="container">
<div class="row">
<div class="col-md-4">
<a href="#" class="no-underline">
<div class="card">
<img src="/images/10.png" alt="Imagem 1" class="card-img-top img-fluid">
<div class="card-body">
<h5 class="card-title">Grão de Areia</h5>
<p class="card-text">Inspirado na música "Grão de Areia", do cantor Rubel, esse clásico doce te fará sentir a energia brasileira, unindo um brownie meio amargo com um bom brigadeiro ao leite jutno de pedaços de amedoim torrado. </p>
</div>
</div>
</a>
</div>
  
<div class="col-md-4">
<a href="#" class="no-underline">
<div class="card">
<img src="/images/12.png" alt="Imagem 2" class="card-img-top img-fluid">
<div class="card-body">
<h5 class="card-title">Dois Amores</h5>
<p class="card-text">Inspirado na música "Dois Amores", do cantor Baco Exu do Blues, o docinho faz uma mistura sensacional entre marshmallow e um brigadeiro de pé de moça. Como disso o Baco, um amor faz sofrer, mas esses dois amores te farão apaixonar!</p>
</div>
</div>
</a>
</div>
  
<div class="col-md-4">
<a href="#" class="no-underline">
<div class="card">
<img src="/images/13.png" alt="Imagem 3" class="card-img-top img-fluid">
<div class="card-body">
<h5 class="card-title">Dengo</h5>
<p class="card-text">Inspirado na música "Dengo", da dupla ANAVITÓRIA, esse doce te trará uma sensação de lar. Experimente fazer essa massinha de baunilha com calda de laranja e doce de leite, garanto que será impossível esquecer essa delícia!</p>
</div>
</div>
</a>
</div>
</div>
</div>

<div id="container" class="container">
<div class="row">
<div class="col-md-4">
<a href="#" class="no-underline">
<div class="card">
<img src="/images/16.png" alt="Imagem 1" class="card-img-top img-fluid">
<div class="card-body">
<h5 class="card-title">Eduardo e Mônica</h5>
<p class="card-text">Quem um dia irá dizer que não existe razão nas coisas feitas pelo coração? Inspirado na música "Eduardo e Mônica", o pequeno bolinho traz extremos, frutas vermelhas e amarelas, que são opostas, mas se completam.</p>
</div>
</div>
</a>
</div>
  
<div class="col-md-4">
<a href="#" class="no-underline">
<div class="card">
<img src="/images/17.png" alt="Imagem 2" class="card-img-top img-fluid">
<div class="card-body">
<h5 class="card-title">Ophelia</h5>
<p class="card-text">Inspirado na música "Ophelia", da banda The Luminners, o pequeno docinho traz de forma rápida uma sensação nostálgica, realizando uma mistura de sabores de nossas infâncias. </p>
</div>
</div>
</a>
</div>
  
<div class="col-md-4">
<a href="#" class="no-underline">
<div class="card">
<img src="/images/18.png" alt="Imagem 3" class="card-img-top img-fluid">
<div class="card-body">
<h5 class="card-title">Astronomy</h5>
<p class="card-text">Inspirado na música "Astronomy" do cantor Conan Gray, esse pequeno pudim com uma consistente calda de chocolate te fará viajar de Vênus a Marte, em pouco tempo e com muito sabor!</p>
</div>
</div>
</a>
</div>
</div>
</div>
  

<footer>
  <%- include('./partials/footer') %>
</footer>
</div>

</body>
</html>