<%- include('./partials/header') %>
<main>

<div class="jumbotron jumbotron-fluid" style="background-color: #FFDAE1; height: 50px;">
<div class="container-fluid">
<button class="btn btn-secondary btn-lg" style="font-size: 2rem; padding: 0; background: none; border: none; color: #F47B8F;" onclick="window.history.back();"><i class="bi bi-arrow-left-circle-fill"></i></button>
<h1 class="text-center mx-auto" style="color: #F47B8F; margin-top: -50px">Crie sua conta!</h1>
</div>
</div>

<% if (typeof messages !== 'undefined' && messages.error && messages.error.length > 0) { %>
  <div style="font-size: 24px; text-align: center; margin-top: 20px; color: #F47B8F; background-color: #FFDAE1; border-width: 0px;" class="alert alert-danger" role="alert">
    <% for (let i = 0; i < messages.error.length; i++) { %>
      <p><%= messages.error[i] %></p>
    <% } %>
  </div>
<% } else if (typeof messages !== 'undefined' && messages.success && messages.success.length > 0) { %>
  <div style="font-size: 24px; text-align: center; margin-top: 20px; color: #F47B8F; background-color: #FFDAE1; border-width: 0px;" class="alert alert-success" role="alert">
    <% for (let i = 0; i < messages.success.length; i++) { %>
      <p><%= messages.success[i] %></p>
    <% } %>
  </div>
<% } %>

<section class="vh-100">
<div class="container py-5 h-100">
<div class="row d-flex justify-content-center align-items-center h-100">
<div class="row my-5 align-items-center">  
<div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2">
              
<div class="card shadow-pink" style="max-width: 100%; width: 900px; margin-top: -80px;">
<div class="card-body">

<form method="post" action="/register">
<div class="mb-3">
<label style="font-weight: bold; font-size: 20px; color: #F47B8F;" for="firstNameInput">primeiro nome</label>
<input style="color: #F47B8F; background-color: #FFDAE1; font-size: 20px;" name="firstName" type="text" class="form-control" id="firstNameInput" placeholder="digite seu primeiro nome">

<div class="mb-3">
<label style="font-weight: bold; font-size: 20px; color: #F47B8F;" for="lastNameInput">sobrenome</label>
<input style="color: #F47B8F; background-color: #FFDAE1; font-size: 20px;" name="lastName" type="text" class="form-control" id="lastNameInput" placeholder="digite seu sobrenome">
</div>
  
<div class="mb-3">
<label style="font-weight: bold; font-size: 20px; color: #F47B8F;" for="emailInput">email</label>
<input style="color: #F47B8F; background-color: #FFDAE1; font-size: 20px;"  name="email" type="email" class="form-control" id="emailInput" placeholder="digite seu email">
</div>

<div class="mb-3">
<label style="font-weight: bold; font-size: 20px; color: #F47B8F; for="passwordInput">senha</label>
<input style="background-color: #FFDAE1; color: #F47B8F; font-size: 20px;" name="password" type="password" class="form-control" id="passwordInput" placeholder="digite sua senha">
</div>

<div class="mb-3">
<label style="font-weight: bold; font-size: 20px; color: #F47B8F;" for="confirmPasswordInput">confirme sua senha</label>
<input style="background-color: #FFDAE1; color: #F47B8F; font-size: 20px;" type="password" name="confirmPassword" type="password" class="form-control" id="confirmPasswordInput" placeholder="confirme sua senha">
</div>

<div class="text-center">
<button type="submit" class="btn btn-primary">criar conta</button>
</div>

<div class="text-center mt-3">
<a style="color: #F47B8F; font-size: 17px;" href="/login">jรก tenho uma conta!</a>
</div>
</form>
 </div>
</div>

</div>
</div>
</div>
</div>
</div>
</section>
</main>
<footer>
  <%- include('./partials/footer') %>
</footer>
</body>
</html>